<!DOCTYPE html>
<div class="flex flex-col md:flex-row">
  <!-- Mini-menu -->
  <div class="w-full md:w-1/4 p-4 bg-gray-100">
    <h2 class="text-xl font-bold mb-4">Elementos Pré-textuais</h2>
    <% preTextualElements.forEach((element, index) => { %>
      <div class="mb-4">
        <input type="checkbox" id="<%= element.name %>Check" checked>
        <label for="<%= element.name %>Check" class="font-bold"><%= element.name %></label>
        
        <% if (element.content) { %>
          <div class="mt-2 pl-4">
            <% Object.keys(element.content).forEach(key => { %>
              <div class="mb-2">
                <input type="checkbox" id="<%= `${element.name}_${key}` %>" checked>
                <label for="<%= `${element.name}_${key}` %>" title="Mostra/oculta <%= key %>"><%= key %></label>
              </div>
            <% }); %>
          </div>
        <% } %>
      </div>
    <% }); %>
    
    <div class="mt-4">
      <input type="file" id="logoUpload" accept="image/*" style="display: none;">
      <button id="uploadLogoBtn" class="bg-blue-500 text-white px-4 py-2 rounded" aria-label="Upload Logo">
        <i class="fas fa-upload"></i> Upload Logo
      </button>
    </div>
    <div class="mt-4">
      <button id="downloadBtn" class="bg-green-500 text-white px-4 py-2 rounded" aria-label="Download Template">
        <i class="fa-solid fa-download"></i> Download
      </button>
    </div>
    <div class="mt-4">
      <label for="zoom" class="block mb-2">Zoom:</label>
      <input type="range" id="zoom" min="50" max="150" value="100" class="w-full">
    </div>
  </div>

  <!-- Páginas A4 -->
  <div class="w-full md:w-3/4 overflow-auto">
    <% preTextualElements.forEach((element, index) => { %>
      <div id="<%= element.name %>Page" class="pageA4 content bg-white mx-auto shadow-lg w-[210mm] h-[297mm] m-4 p-0 flex justify-center items-center transform origin-top-left">
        <div class="flex flex-col h-full w-full pt-[2.47cm] pb-[2.78cm] pl-[3cm] pr-[3cm]">
          <%- include(`templates/${element.template}`, { content: element.content }); %>
        </div>
      </div>
    <% }); %>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>